body {
    width: device-width;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: azure;
}

form {
    margin-top: 200px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.gsign {
    margin-top: 50px;
}
#login {
    height: 40px;
}