body {
    width: device-width;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212121;
    color: azure;
}

/* form {
    margin-top: 200px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
} */
.sign-in-ins {
    /* margin-top: 200px; */
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}
.gsign {
    margin-top: 15px;
}
